
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Login</title>
    
    <!-- General CSS Files -->
    <link rel="stylesheet" href="~/stisla-ui/plugins/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- CSS Libraries -->
    <link rel="stylesheet" href="~/plugins/datepicker/datepicker.css" />
    <link rel="stylesheet" href="~/plugins/clockpicker/jquery-clockpicker.min.css" />
    <link rel="stylesheet" href="~/plugins/datatable/1.10.19/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/plugins/izitoast/css/iziToast.min.css" />
    <link rel="stylesheet" href="~/plugins/sweetalert/dist/sweetalert.css" />
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/stisla-ui/css/style.css">
    <link rel="stylesheet" href="~/stisla-ui/css/components.css">
    
    <!--shared css -->
    <link rel="stylesheet" href="~/css/style-shared.css"/>
    <style>
        .field-icon {
            float: right;
            margin-right: 20px;
            margin-top: -25px;
            position: relative;
            z-index: 2;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div id="app">
        <section class="section">
            <div class="d-flex flex-wrap align-items-stretch">
                <div class="col-lg-4 col-md-6 col-12 order-lg-1 min-vh-100 order-2 bg-white">
                    <div class="p-4 m-3">
                        <img src="../assets/img/stisla-fill.svg" alt="logo" width="80" class="shadow-light rounded-circle mb-5 mt-2">
                        <h4 class="text-dark font-weight-normal">Welcome to <span class="font-weight-bold">Monitoring Oil V1</span></h4>
                        <p class="text-muted">Before you get started, you must login or register if you don't already have an account.</p>
                        <form method="POST" action="#" class="needs-validation" id="form-login" novalidate="">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input id="email" type="email" class="form-control" name="email" tabindex="1" required autofocus>
                                <div class="invalid-feedback">
                                    Please fill in your email
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="d-block">
                                    <label for="password" class="control-label">Password / Kata Sandi</label>
                                    <div class="float-right">
                                        <a onclick="ResetPassword();" href="#" class="text-small">
                                            Lupa Password?
                                        </a>
                                    </div>
                                </div>
                                <input type="password" id="password" class="form-control" tabindex="2" name="password" placeholder="Ketikkan Password Anda..." required>
                                <span toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>

                            @*<div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="remember" class="custom-control-input" tabindex="3" id="remember-me">
                                        <label class="custom-control-label" for="remember-me">Remember Me</label>
                                    </div>
                                </div>*@

                            <div class="form-group text-right">

                                <button type="button" onclick="$.Sign.login()" name="BtnLogin" class="btn btn-primary btn-lg btn-icon icon-right" tabindex="4">
                                    Login
                                </button>
                            </div>
                            <br>
                        </form>

                        <div class="text-center mt-5 text-small">
                            Copyright &copy; Your Company. Made with 💙 by Eri Safari
                            <div class="mt-2">
                                <a href="#">Privacy Policy</a>
                                <div class="bullet"></div>
                                <a href="#">Terms of Service</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-12 order-lg-2 order-1 min-vh-100 background-walk-y position-relative overlay-gradient-bottom" data-background="../assets/img/unsplash/login-bg.jpg">
                    <div class="absolute-bottom-left index-2">
                        <div class="text-light p-5 pb-2">
                            @*<div class="mb-5 pb-3">
                                    <h1 class="mb-2 display-4 font-weight-bold">Good Morning</h1>
                                    <h5 class="font-weight-normal text-muted-transparent">Bali, Indonesia</h5>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <!-- General JS Scripts -->
    <script src="~/plugins/jquery.min.js"></script>
    <script src="~/plugins/popper.js"></script>
    <script src="~/stisla-ui/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="~/plugins/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="~/plugins/moment.min.js"></script>
    <script src="~/plugins/datepicker/datepicker.js"></script>
    <script src="~/plugins/clockpicker/jquery-clockpicker.min.js"></script>
    <script src="~/plugins/izitoast/js/iziToast.min.js"></script>
    <script src="~/plugins/sweetalert/dist/sweetalert.js"></script>
    <script src="~/plugins/datatable/1.10.19/js/jquery.dataTables.js"></script>
    <script src="~/plugins/datatable/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/stisla-ui/js/stisla.js"></script>
    <script src="~/stisla-ui/js/scripts.js"></script>
    <script src="~/stisla-ui/js/custom.js"></script>

    <script>
        var base_url = location.protocol + '//' + document.location.host;
    </script>

    <script type="text/javascript">
        function ProgressBar(Status) {
            if (Status == "wait") {
                $("body").css("cursor", "progress");
                $("#loading").removeAttr("style");
            } else if (Status == "success") {
                $("body").css("cursor", "default");
                $("#loading").css("display", "none");
            }
        }
    </script>

    <!-- JS Libraies -->
    <!-- Template JS File -->
    <script src="~/stisla-ui/js/scripts.js"></script>
    <script src="~/stisla-ui/js/custom.js"></script>
    @{
        if (ViewBag.ModuleJs != null)
        {
            foreach (var ret in ViewBag.ModuleJs)
            {
                <script src="~/appjs/@ret.Path/@ret.Name" type="text/javascript"></script>
            }
        }

    }
    <!-- Page Specific JS File -->

</body>
</html>
