.vs
.vscode
.DS_Store
*.bak
*.json
*.pubxml
*.lck
*.vbak
ApplMgt.Services/obj
ApplMgt.Services/bin
Oil.Management.Entities/obj
Oil.Management.Entities/bin
Oil.Management.Services/obj
Oil.Management.Services/bin
Oil.Management.Shared/obj
Oil.Management.Shared/bin
Oil.Management.Web/obj
Oil.Management.Web/bin
UnitTest.Eri/obj
UnitTest.Eri/bin

